/* ==========================================================================
   # TYPOGRAPHY
   ========================================================================== */

html {
	font-size: #{ $base-font-size + '%'};
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: $font-stack-default;
	font-family: $font-stack-brand;
	font-size: var(--font-size-base);
	line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dt,
dd,
blockquote,
pre,
address,
hr {
	margin-bottom: var(--sp-md);
}

input,
select,
textarea {
	font-family: inherit;
  font-size: var(--font-size-base);
}

strong,
b {
	font-weight: 600;
}

a {
	border-radius: 1px;

  &:hover,
  &:focus {
  	color: var(--co-accent-secondary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
	color: var(--co-text-primary);
	font-family: $font-stack-brand-serif;
	font-weight: 500;
}

h1,
h2,
h3 {
	line-height: 1.35;
}

h1 {
	font-size: clamped(22px, 40px);
	font-size: var(--font-size-xxxl);
	margin-bottom: var(--sp-xl);
	max-width: 35ch;
}

h2 {
	font-size: var(--font-size-xxl);
}

h3 {
	font-size: var(--font-size-xl);
}

dt {
	font-size: var(--font-size-md);
}

.overline {
	color: var(--co-accent-secondary);
	display: flex;
	align-items: center;
	font-family: $font-stack-brand;
	font-size: var(--font-size-sm);
	font-weight: 700;
	text-transform: uppercase;
	margin-left: -100px;
	letter-spacing: 2px;

	&:before {
		content: "";
		display: inline-block;
		width: 80px;
	  height: 0.0625rem;
	  background: var(--co-accent-secondary);
		margin-right: 20px;
	}
}

.subtitle {
	font-size: var(--font-size-md);
	color: var(--co-text-primary);
	font-family: $font-stack-brand;
}

blockquote {
	font-family: $font-stack-brand-serif;

	> *:not(cite) {
		font-size: var(--font-size-md);
	}
}

cite {
	font-family: $font-stack-default;
	font-size: var(--font-size-sm);
	font-style: normal;
}
