<!DOCTYPE html>
<html lang="{{ settings.lang }}" dir="{{ settings.dir }}" class="no-js">
  <head>
    {% include "site/head.njk" %}
  </head>
  <body class="l-concealer">
    <div class="warning">
      <div class="wrapper">
        <p>This website is built with most recent CSS features such as CSS container queries and might appear broken on Firefox and older browsers.<br>
        Use any chromium-based browser for a better experience.<br>
        Support for older browsers is in progress. See the current codebase on <a href="https://github.com/FEDbySandrine/portfolio-11ty" target="_blank">Github</a>.</p>
      </div>
    </div>
    <a href="#main" class="btn-skip">Skip to content</a>
    <div aria-hidden="true">{% svgsprite %}</div>

    {% include "site/header.njk" %}

    {% block general %}
      {% block main %}
      <main id="main" class="l-concealer__cover">
        {{ content | safe }}
      </main>
      {% endblock %}

      {% block aside %}
      {% endblock %}
    {% endblock %}

    {% include "site/footer.njk" %}

    {# <script src="{{ '/js/scripts.js' | url }}"></script> #}
  </body>
</html>
