<div class="id-card">
  <div class="id-card__media ico-avatar ico:{%- if icoSize -%}{{ icoSize }}{%- else -%}md{%- endif -%}">
	{%- set imgSize = ('120' if icoSize === 'xl' else '80') -%}
	{%- img 'avatar', '', imgSize, imgSize, true, 'png' -%}
  </div>
  <div class="id-card__content">
		{%- if opentowork -%}
		<p>I'm always open to opportunities where my area of competence is applicable meaningfully.</p>
		{%- endif -%}
		<div class="id-card__contact">{%- include 'components/links.njk' -%}</div>
		<div class="id-card__links">{%- include 'components/social-list.njk' -%}</div>
  </div>
</div>
