<ul class="list-inline">
{%- for item in social -%}
  {%- if item.active -%}
    <li>
      <a href="{{ item.url }}" class="btn-ico" rel="me">{% svgImage 'logo-' + item.platform | lower , '25px', '25px', item.platform %}</a>
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>
