/* ==========================================================================
   # LAYOUTS
   ========================================================================== */

   .warning  {
    padding: var(--sp-sm);
    background-color: rgba(#F00, 0.1);

    p { margin-bottom: 0; }
   }

   @supports (container-type: inline-size) {
      .warning {
       display: none;
      }
   }
  
 .wrapper {
   @include align-center;
   container-type: inline-size;
   max-width: $max-width;
   padding-left: var(--edges);
   padding-right: var(--edges);
   width: 100%;
 }

 .content {
   max-width: 95ch;
 }

.l  {
  &-section {
    margin-bottom: clamp(4rem, 2.8571rem + 5.7143vw, 8rem);

    &\:fill {
      padding-top: clamp(4rem, 2.8571rem + 5.7143vw, 8rem);
      padding-bottom: clamp(4rem, 2.8571rem + 5.7143vw, 8rem);
    }
  }

  &-banner {
    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }

    padding-bottom: var(--sp-xl);
    padding-top: var(--sp-xl);
  }

  &-cols {
    display: flex; 
    flex-wrap: wrap; 
    gap: var(--sp-xl);
  }

  &-cols--var {
    display: grid; 
    row-gap: var(--sp-lg);
    @container (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--sp-xl);
    }
  }

  &-concealer {
    &__cover {
      @extend .min-height\:full;
      background: var(--th-background-color);
      position: relative;
      z-index: var(--z-over);

      &::after, &::before {
        content: '';
        display: table;
      }
    }
    &__spill {
      margin-bottom: 0.1px; // hack 1px bug;
      max-height: 100vh;
      overflow: auto;
      position: sticky;
      top: var(--header-height);
    }

    &__cover + &__spill {
      bottom: 0;
      top: auto;
    }

    &__spill + &__cover {
      margin-top: 0;
      min-height: 0;
      padding-top: clamp(4rem, 2.8571rem + 5.7143vw, 8rem);
    }
  }

  &-slider {
    container-type: inline-size;

    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    // column-gap: var(--sp-xl);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

   &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    > * {
      scroll-snap-align: center;
      padding: 0 var(--sp-xxl);
      box-sizing: content-box;

      @container (max-width: 599px) {
        box-sizing: border-box;
        min-width: 100vw;
        padding: 0 var(--sp-lg);
      }
    }
  }
}

.full-h {
  min-height: 100vh;
  min-height: 100dvh;
}

.hero {
  @extend .full-h;
  // @extend .bg-default;
  display: flex;
  flex-flow: column;
  align-items: center;
}
