.list {
  &-inline {
    @include clear-list;
    display: flex;
    flex-flow: row wrap;
    gap: var(--sp-sm);

    a {
      display: block;
    }
  }

  &-cols {
    @include clear-list;
    display: grid; 
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    column-gap: var(--sp-xl);
    row-gap: var(--sp-xs);
    grid-auto-flow: dense;

    & > * { white-space: nowrap; }

    &:not(:last-child) {
      margin-bottom: var(--sp-xl);
    }
  }

  &-tags {
    @include clear-list;
    li {
      border: 1px solid var(--th-color);
      // color: var(--th-background-color);
      font-size: var(--font-size-xs);
      border-radius: 3px;
      padding: 0 5px;
    }
  }

  &-logos {
    @include clear-list;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: var(--sp-xl);
    row-gap: var(--sp-sm);

    img {
      width: 120px;
    }
  }
}

.dlist {
  &-cols\:3 {
    @include clear-dlist;

    @container (min-width: 650px) {
      display: flex;
      flex-flow: row wrap;
      column-gap: var(--sp-xl);

      > * {
        flex: 1;
      }
    }
  }
}
