.main-nav {
  &__btn {
    align-items: center;
    display: flex;
    height: rem(32px);
    justify-content: center;
    width: rem(32px);
  }

  &__icon {
    aspect-ratio: 1.666;
    width: rem(20px);
  }

  &__menu-list {
    display: flex;
    justify-content: center;

    @include mq('>m') {
      justify-content: flex-end;
    }
  }

  &__menu-link {
    border-top: 1px solid transparent;
    border-bottom: 2px solid transparent;
    color: inherit;
    display: block;
    padding: 12px 0;
    margin: 0 6px;

    @include mq('>s') {
      margin: 0 12px;

      &:last-child {
        margin-right: 0;
      }
    }


    // &[aria-current] {
    //   border-top: 3px solid transparent;
    // }

    &[aria-current],
    &:hover,
    &:focus-visible {
      border-bottom-color: inherit;
    }

    &[aria-current] {
      border-top-color: inherit;
    }
  }
}
