.testimonial {
	position: relative;
	max-width: 60ch;

	@container (min-width: 600px) {
		.l-slider & {
			min-width: 50ch;
		}
	}

  cite {
	.l-slider & {
		margin-left: 0;

		&:before {
			content: "";
			margin-right: 0;
			width: 0;
		}
	}
  }
}
