.testimonial {
	position: relative;
	max-width: 60ch;

	@container (min-width: 600px) {
		.l-slider & {
			min-width: 50ch;
		}
	}

  cite {
  	display: flex;
  	align-items: center;
  	margin-left: -40px;


  	&:before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 0.0625rem;
		background: var(--co-accent-primary);
		margin-right: 20px;
		opacity: 0.5;
  	}

	.l-slider & {
		margin-left: 0;

		&:before {
			content: "";
			margin-right: 0;
			width: 0;
		}
	}
  }
}
