<footer class="l-concealer__spill l-banner theme theme:primary">
  <div class="wrapper" style="column-count: 2">
    <p>This website is built with 11ty.<br>
      Source available on <a href="#" target="_blank">Github</a>.<br>
      Snippets available on <a href="#" target="_blank">Instagram</a> and <a href="#" target="_blank">Codepen</a>.
    </p>
    {%- include '../modules/id-card.njk' -%}
  </div>
</footer>
