<header class="header">
  <div class="container">
    <a href="/" class="logo">{% svgImage 'logo', '116px', '16px', 'FEDbySandrine, homepage' %}</a>
    {#% include '../modules/nav-main.njk' %#}
  </div>
</header>

<div class="header-observer"></div>
