/* ==========================================================================
   # GLOBALS
   T-shirt sizing naming convention
   ========================================================================== */
@use 'sass:list';

/// Fluid type settings
$base-font-size: 100 !default; // In %. Also used for mobile. Number only, no units.
$base-size: 16px;
$min-width: 320px;
$max-width: 1200px;

$type-base-min: 16px;
$type-base-max: 18px;
$type-scale-min: 1.075;
$type-scale-max: 1.1275;
$type-steps: 'xs', 'sm', 'base', 'md', 'lg', 'xl', 'xxl', 'xxxl', '4xl';
$type-base-index: list.index($type-steps, 'base');
$line-height: 1.5 !default;


/// Spacing
// @type Map
// @value PX unit
$spacing: (
  xs:  4px,
  sm:  8px,
  md:  16px,
  lg:  32px,
  xl:  48px,
  xxl: 96px
);

/// Max-widths
// @type Map
// @value CH unit
$maxWidthChars: (
  xs:   50ch,
  sm:   55ch,
  md:   60ch,
  lg:   65ch,
  xl:   70ch,
  xxl:  75ch,
  max:  80ch
);

/// Breakpoints
// @type Map
// @value PX unit
$breakpoints: (
  xs:   480px,
  sm:   576px,
  md:   768px,
  lg:   992px,
  xl:   1200px,
  xxl:  1440px
);

/// Layer order
// @type Map
// @value integer
$zIndexes: (
  'modal':    80,
  'skip':     50,
  'drawer':   30,
  'overlay':  20,
  'sticky':   10,
  'atop':     5,
  'over':     1,
  'base':     0,
  'below':    -1,
);

/// Icons size
// @type Map
// @value PX unit
$icoSizes: (
  xs:   24px,
  sm:   48px,
  md:   72px,
  lg:   96px,
  xl:   120px
);
