---
permalink: "js/scripts.js"
---
{%- set js -%}
  {#%- include "./vendors/jquery-3.6.0.min.js" -%#}
  {#%- include "./vendors/cqfill.js" -%#}
  // Support Test
  const supportsContainerQueries = "container" in document.documentElement.style;

  // Conditional Import
  if (!supportsContainerQueries) {
    import("https://cdn.jsdelivr.net/npm/container-query-polyfill@0.2.4/dist/container-query-polyfill.modern.js");
  }

  {%- include "./app.js" -%}
{%- endset -%}
{{ js | jsmin | safe }}
