.btn {
  &-skip {
    background-color: var(--co-background);
    padding: 16px;
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    z-index: 20;

    &:focus {
      transform: translateY(0%);
    }
  }

  &-ico {
    padding: var(--sp-xs);
    border-radius: 100%;
  }
}
