.ico {
  @each $index, $value in $icoSizes {
    &\:#{$index} {
      height: var(--ico-#{$index});
      width: var(--ico-#{$index});
    }
  }

  &-avatar {
    aspect-ratio: 1;
    background-color: rgba(255,255,255, 0.25);
    border-radius: 100%;
    overflow: hidden;

    img {
      aspect-ratio: 1;
      margin-top: 5px !important;
      object-fit: fill;
      width: 100%;
    }
  }
}


.jpath-content {
  fill: var(--th-background-color);
  a:hover & {
    fill: var(--th-color);
  }
}
