<p class="overline">Hi, I'm Sandrine</p>
<h1>Interface enthusiast, accessibility specialist and user advocate for over 20 years.</h1>
<p class="subtitle  max-w-ch:xl">I believe that equitable access to information and opportunities matters.<br>
  Specialising in front-end development allows me to help people and enhance daily lives.</p>
<p class="max-w-ch:md">Currently as a freelancer, I assist companies integrating designs, developing pattern libraries, auditing user experiences and supporting teams.<br>
  Previously, I led for 5 years the front-end of Tourism New Zealand at DAN.</p>
