<div class="id-card">
  <div class="id-card__media ico-avatar ico:{%- if icoSize -%}{{ icoSize }}{%- else -%}md{%- endif -%}"><img src="/assets/images/avatar@2x.webp" aria-hidden="true" alt="" width="80" height="80"></div>
  <div class="id-card__content">
    {%- if opentowork -%}
    <p>I'm always open to opportunities where my area of competence is applicable meaningfully.</p>
    {%- endif -%}
    <div class="id-card__contact">{%- include './links.njk' -%}</div>
    <div class="id-card__links">{%- include './social-list.njk' -%}</div>
  </div>
</div>
