<div class="id-card">
  <div class="avatar"><img src="/assets/images/avatar@2x.png" aria-hidden="true" alt="" width="80" height="80" /></div>
  <div class="id-card__content">
    {%- if opentowork -%}
    <p>I'm always open to opportunities where my area of competence is applicable meaningfully.</p>
    {%- endif -%}
    {%- include './links.njk' -%}
    {%- include './social-list.njk' -%}
  </div>
</div>
