<nav aria-label="main" class="header__nav main-nav">
  {# <button id="main-nav__btn" aria-controls="main-nav__menu" aria-expanded="false" class="main-nav__btn"></button> #}
  {# <div id="main-nav__menu" aria-labelledby="main-nav__btn" class="" hidden> #}
    <ul>
      <li><a href="/">About</a></li>
      {# <li><a href="/">Work</a></li> #}
    </ul>
  {# </div> #}
</nav>
