<div class="project__grid">
    {%- for source, project in projects -%}
        <div class="project{% if project.feature %} project--feature{% endif %}{% if project.consultancy %} project--consultancy{% endif %}">
            <div class="project__name">
                {%- if project.url | length -%}<a href="{{ project.url }}" target="_blank">{%- endif -%}
                    {%- if project.thumbnail | length -%}
                        <div class="project__thumbnail">{%- if project.url | length -%}{%- endif -%}{%- imgResponsive 'project-' + source, "800", "447", "", true, project.thumbnail.ext -%}{%- if project.url | length -%}{%- endif -%}</div>
                    {%- endif -%}
                    <h3 class="project__title">{%- if project.url | length -%}{%- endif -%}{{ project.name }}{%- if project.url | length -%}{%- endif -%}</h3>
                {%- if project.url | length -%}</a>{%- endif -%}
                <p class="project__client">{{ project.client }}</p>
                {%- if project.clients_logo | length -%}
                <ul class="project__clients list-logos">
                    {%- for logo in project.clients_logo -%}
                        <li>{% img 'logo-a11y-' + logo.file, logo.alt, logo.width, logo.height, true, logo.ext -%}</li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}
            </div>
            {%- if project.tags | length -%}
            <div class="project__tags">
                <ul class="list-tags list-inline">
                    {%- for tag in project.tags -%}
                        <li>{{ tag }}</li>
                    {%- endfor -%}
                </ul>
            </div>
            {%- endif %}
            <div class="project__description">
                {%- if project.blurb | length -%}
                    <p class="project__blurb">{{ project.blurb }}</p>
                {%- endif -%}
                {%- if project.description | length -%}
                    <p class="project__description">{{ project.description }}</p>
                {%- endif -%}
                {%- if project.testimonial|length -%}
                    {%- set reference = [project.testimonial] -%}
                    {%- include './testimonials.njk' -%}
                {%- endif -%}
            </div>
        </div>
    {%- endfor -%}
</div>