
<h2 class="overline">Services</h2>
<dl class="dlist-cols:3">
{%- for service in competences.services -%}
    <div>
        <dt>{{ service.title | safe }}</dt>
        <dd>{{ service.description | safe }}</dd>
    </div>
{%- endfor -%}
</dl>