<ul class="list-inline">
  <li><a href="https://linkedin.com/in/sandrinepns" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-linkedin', '25px', '25px', 'LinkedIn' %}</a></li>
  <li><a href="https://www.twitter.com/{{ settings.username }}/" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-twitter', '25px', '25px', 'Twitter' %}</a></li>
  <!-- <li><a href="https://www.github.com/{{ settings.username }}/" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-github', '25px', '25px', 'Github' %}</a></li> -->
  <li><a href="https://www.codepen.io/{{ settings.username }}/" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-codepen', '25px', '25px', 'Codepen' %}</a></li>
  <!-- <li><a href="https://medium.com/@{{ settings.username }}" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-medium', '25px', '25px', 'Medium' %}</a></li> -->
  <li><a href="https://www.instagram.com/{{ settings.username }}/" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-instagram', '25px', '25px', 'Instagram' %}</a></li>
  <!-- <li><a href="https://www.pinterest.com/{{ settings.username }}/" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-pinterest', '25px', '25px', 'Pinterest' %}</a></li> -->
</ul>
