<ul class="list-inline">
  <li><a href="{{ meta.meta_data.linkedInProfile }}" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-linkedin', '25px', '25px', 'LinkedIn' %}</a></li>
  <li><a href="{{ meta.meta_data.mastodonProfile }}/" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-mastodon', '25px', '25px', 'Mastodon' %}</a></li>
  <li><a href="{{ meta.meta_data.twitterProfile }}" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-twitter', '25px', '25px', 'Twitter' %}</a></li>
  {# <li><a href="{{ meta.meta_data.githubProfile }}" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-github', '25px', '25px', 'Github' %}</a></li> #}
  <li><a href="{{ meta.meta_data.codepenProfile }}" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-codepen', '25px', '25px', 'Codepen' %}</a></li>
  {# <li><a href="{{ meta.meta_data.mediumProfile }}" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-medium', '25px', '25px', 'Medium' %}</a></li> #}
  <li><a href="{{ meta.meta_data.instagramProfile }}" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-instagram', '25px', '25px', 'Instagram' %}</a></li>
  {# <li><a href="{{ meta.meta_data.pinterestProfile }}" class="btn-ico" rel="me" target="_blank">{% svgImage 'logo-pinterest', '25px', '25px', 'Pinterest' %}</a></li> #}
</ul>
