{%- for source, testimonial in testimonials -%}
{%- if source == reference -%}
  <blockquote class="testimonial">
    {{ testimonial.quote | safe }}
    <cite>{{ testimonial.author }}, {{ testimonial.role }}</cite>
  </blockquote>
{%- endif -%}
{%- endfor -%}
