{%- for ref in reference -%}
  {%- for source, testimonial in testimonials -%}
  {%- if source == ref -%}
    <blockquote class="testimonial">
      {{ testimonial.quote | safe }}
      <cite>{{ testimonial.author }}, {{ testimonial.role }}</cite>
    </blockquote>
  {%- endif -%}
  {%- endfor -%}
{%- endfor -%}