<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y51PC0G9L7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y51PC0G9L7');
</script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

<title>{% if title %}{{ title }} | {{ meta.siteName }}{% endif %}</title>

{# synchronous js / schema #}
{% include 'schemas/base-schema.njk' %}

{# everything else: meta tags, icons, open graph etc. #}
{% include 'partials/meta-info.njk' %}

{# capture the CSS content as a Nunjucks variable #}
{% set css %}
  {% include "css/critical.css" %}
{% endset %}
{# feed it through our cssmin filter to minify #}
<style>
  {{ css | cssmin | safe }}
</style>

<link rel="stylesheet" href="{{ '/css/style.css' | url }}" async>
