<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

<title>{% if title %}{{ title }}{{ title }} | {{ meta.siteName }}{% endif %}</title>

{# synchronous js / schema #}
{% include 'schemas/base-schema.njk' %}

{# everything else: meta tags, icons, open graph etc. #}
{% include 'partials/meta-info.njk' %}

<link rel="stylesheet" href="{{ '/css/style.css' | url }}">
