<nav aria-label="main" class="header__nav main-nav">
  {# <button id="main-nav__btn" aria-controls="main-nav" aria-expanded="false" class="main-nav__btn">Open main navigation</button> #}
  {# <div id="main-nav" aria-labelledby="main-nav__btn" class="" hidden> #}
    <ul>
      {# <li><a href="/">About</a></li> #}
      {# <li><a href="/">Work</a></li> #}
      <li><a href="/articles">Articles</a></li>
    </ul>
  {# </div> #}
</nav>
